datasets
**/__pycache__
models
AutoEncoders
conda_env
generation_comparison/**/*.mp4

results

metrics/RAFT/**/*.pth
metrics/RAFT/**/*.so
metrics/RAFT/**/*.o
metrics/RAFT/**/*.ninja
metrics/RAFT/**/build

.ipynb_checkpoints
Test_notebook.ipynb
Video class encoding.ipynb
.pkl_memoize_py3
default_acc_config.yaml
sample_corr_matrix.pt
score_small_uncorr_uncorr.json
setup_conda.sh
temp.log
Test.ipynb
dependency_links.txt
PKG-INFO
SOURCES.txt
top_level.txt
